* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 44px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left 11px center;
}

.header__input {
    flex: 0.8;
    background-image: url(../img/home.svg);
}

.restaurants__input {
    width: 300px;
    background-image: url(../img/restaurants-search.svg);
    margin-left: auto;
  }

.buttons {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}

.button-primary {
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #FFFFFF;
    margin-right: 10px;
}

.button-icon {
    margin-right: 6px;
}

.button-card-text {
    margin-right: 10px;
}

.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.promo {
    padding: 68px 70px;
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #FFF1B8 url(/img/promo-pizza.png)  top -80px right -245px / 958px;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 56px;
}

.promo__title {
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    color: #302C34;
    margin-bottom: 15px;
}

.promo__text {
    max-width: 538px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
}

.restaurants {
    padding-bottom: 40px;
    
}

.restaurants__heading {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}

.restaurants__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-right: 30px;
}

.restaurants__block-cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.restaurants__card {
    margin-bottom: 30px;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    flex-basis: 31%;
    text-decoration: none;
}

.card__image-wrapper {
    object-fit: cover;
    margin-bottom: 20px;
}

.card__image{
    width: 100%;
}

.card__content {
    padding: 0 24px;
    margin-bottom: 34px;
}

.card__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.card__title--weight {
    font-weight: normal;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
} 

.card__description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #8C8C8C;
    margin-bottom: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}

.card-shopping {
    display: flex;
    align-items: center;
}

.card__price {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    margin-left: 30px;
}

.card__time {
    background: #262626;
    border-radius: 2px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    padding: 1px 8px;
}

.card__info {
    display: flex;
    align-items: center; 
}
   
.card__info-rating,
.card__info-rating--restaurant {
    margin-right: 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #FFC107;
}

.card__info-price,
.card__info-category {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}

.card__info-price {
    margin-right: 10px;
}

.card__info-price::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8C8C8C;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}

.footer {
    padding: 60px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    margin-right: 35px;
}

.footer__link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #595959;
}

.footer__link:not(:last-child) {
    margin-right: 15px;
}

.footer__social {
    display: flex;
    align-items: center;
}

.footer__social-link:not(:last-child) {
    margin-right: 21px;
}

@media (max-width: 1366px) {
    .container {
        max-width: 960px;
    }
    .promo {
        background-size: 750px;
        background-position: center right -250px;
    }
    .card__info-price,
    .card__info-category {
        font-size: 14px;
    }
    .card__info-rating {
        margin-right: 15px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .promo {
        padding: 50px;
        background-size: 500px;
        background-position: center right -200px;
    }
    .promo__text {
        max-width: 400px;
        font-size: 18px;
    }
    .card {
        flex-basis: 48%;
    }
    .footer__link {
        font-size: 16px;
    }
    .footer {
        padding: 40px 0;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .promo {
        background-size: 470px;
        background-position: center right -200px;
    }
    .promo__title {
        font-size: 24px;
        line-height: 1.2;
    }
    .promo__text {
        max-width: 340px;
        font-size: 16px;
    }
    .restaurants {
        padding-bottom: 0px;
    }
    .card__info {
        flex-wrap: wrap;
    }
    .card__info-rating {
        flex-basis: 100%;
    }
  
    .card__title {
        font-size: 18px;
    }
    .footer__container {
        flex-direction: column;
    }
    .footer__info {
       margin-bottom: 20px;
    }
    .footer__link:not(:last-child) {
        margin-right: 17px;
    }
}

@media (max-width: 578px) {
    .container {
        width: 90%;
    }
    .header {
        flex-wrap: wrap;
    }
    .header__input {
        order: 5;
        flex: 1;
        margin-top: 15px;
    }
    .promo {
        padding: 40px;
        background-size: 390px;
        background-position: center right -200px;
    }
    .restaurants__title {
        font-size: 20px;
    }
    .card {
        flex-basis: 100%;
    }
    .card__image-wrapper {
        width: 100%;
    }
    .footer__container {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .footer__info {
        flex-basis: 59%;
        align-items: center;
        margin-bottom: 0px;
    }
    .footer__logo {
        order: 1;
        margin-right: 0px;
    }
    .footer__navigation {
        display: flex;
        flex-direction: column;
        order: 0;
    }
    .footer__link:not(:last-of-type) {
        margin-bottom: 10px;
        margin-right: 0px;
    }
}

@media (max-width: 480px) {
    .button-text {
        display: none;
    }
    .button-icon {
        margin-right: 0px;
    }
    .promo {
        padding: 20px;
        background-image: none;
    }
    .restaurants__heading {
        flex-wrap: wrap;
    }
    .footer__container {
        flex-direction: column;
        align-items: center;
    }
    .footer__info {
        flex-direction: column;
    }
    .footer__logo {
        margin-bottom: 25px;
    }
    .footer__navigation {
        order: 2;
        align-items: center;
        margin-bottom: 25px;
    }
}


   



